
  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&family=Roboto:wght@300&family=Rubik:ital,wght@0,300;0,400;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    background-color: black;
    color: #fff;
    overflow: hidden;
    font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;

}
.container{
    display: flex;
    flex-direction: row;
}
.left{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.image{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 8vh;
    
}
.bi-play-circle{
    font-size: 78px;
    padding-right: 2px;
    margin: 2px;
    color: pink;
}
.image p{
    font-size: 24px;
}
form{
    margin-bottom: 0px;
}
form input{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    border: 1px solid grey;
    margin-bottom: 1.3rem;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}
button{
    width: 100%;
    background: orangered;
    border: none;
    color: #fff;
    padding: 6px;
    margin-bottom: 32px;
    border-radius: 5px;
    font-weight: 500;
    
}
.button:hover{
    cursor: pointer;
    transition:  0.5s;
    color: #fff;
    text-decoration: none;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    
}
.links a{
    color: #fff;
    margin-bottom: 5px;
    text-decoration: none;
}
.or{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    margin-bottom: 1.2rem;
}
.bar{
    flex: auto;
    color: #aaa;
    height: .1px;
}
.or p{
    padding: 0 0.8rem;
}
.btnreg{
    display: flex;
    background-color: none;
    border:1px solid grey;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    padding: 0.1rem 1rem;
    text-decoration: none;
    height: 2.7rem;
    align-items: center;
}
.btnreg:hover{
    border-color: orangered;
    color: orangered;
    cursor: pointer;
    transition: all 0.5sec;
}
footer{
    margin-top: 8em;
    font-size: 10px;
    text-align: center;
    margin-bottom: 0.7rem;
}
footer a{
    color: orangered;
}
.anchor{
    margin-top: 10px;
}
.right{
    display: flex;
    flex: 1;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 30px;
    padding: 50px;
    background: url('https://image.ibb.co/cO9Lxq/login-bg.jpg') no-repeat center center / cover;
}
.right-top{
    font-size: x-large;
    margin-bottom: 5px;
}
.right-bottom{
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    width: 100%;
}
.right-bottom a{
    color: white;
    text-decoration: none;
    padding: 6px;
}
/* Media Queries */
@media (min-width: 1200px) {
    .left {
      flex: 4;
    }
  
    .right {
      flex: 6;
    }
  }
  
  @media (max-width: 768px) {
    body {
      overflow: auto;
    }
  
    .right {
      display: none;
    }
  
    .left {
      justify-content: start;
      margin-top: 4vh;
    }
  
    .image {
      margin-bottom: 2vh;
    }
  
    .inp {
      margin-bottom: 0.7rem;
    }
  
    .main-footer {
      padding-top: 1rem;
    }
  }
  